@model IEnumerable<Ogloszenia_Lokalne_2.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">


    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 20px;
    }

    #blok1 {
        background-color: #ffffff;
        height: 300px;
        margin: 18px
    }

    #blok2 {
        background-color: #dcdcdc;
        margin-right: 36px
    }

    #blok3 {
        background-color: #ffffff;
        margin: 18px
    }

</style>

<div id="blok0" class="col-md-12 form-group form-horizontal">

    <h2>Moje ogłoszenia</h2>

    <p>
        <input type="button" style="width:140px" value="Dodaj nowe" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" />
    </p>

    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th></th>
            <th style="width:10%; font-size:20px;">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="width:50%; font-size:20px;">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width:8%; font-size:14px;">
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th style="width:8%; font-size:14px;">
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th style="width:10%; font-size:14px;">
                @Html.DisplayNameFor(model => model.AddingDate)
            </th>
            <th style="width:5%; font-size:14px;">
                Wisi dni
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td style="font-size:20px;">
                    <input type="button" style="width:90px" value="Edytuj" class="btn btn-warning" onclick="location.href='@Url.Action("Edit",  new { id = item.AdID })'" />
                    <input type="button" style="width:90px" value="Usuń" class="btn btn-danger" onclick="location.href='@Url.Action("Delete",  new { id = item.AdID })'" />
                </td>
                <td>
                    <img alt="Image" src="@Url.Content(item.Image)" style="height: 50px; width: 100px;" id="previewImage" />
                </td>
                <td>
                    @if (item.IsValuable)
                    {<h4> @Html.DisplayFor(modelItem => item.Price) </h4> }
                    else
                    {<h5><b>BEZCENNE</b></h5>}
                </td>
                <td>
                    <h4>
                        @Html.ActionLink(item.Title, "Details", new { id = item.AdID })
                    </h4>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddingDate)
                </td>
                <td>
                    @Html.Label("", DateTime.Now.Subtract(item.AddingDate).Days.ToString() + " dni")
                </td>
            </tr>
        }

    </table>

</div>
