@model Ogloszenia_Lokalne_2.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj swoim kontem";
}

<style>
    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 20px;
    }
</style>


<div id="blok0">
    <h2>@ViewBag.Title</h2>
    <h4>Zmień ustawienia konta</h4>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            <input type="button" style="width:200px; margin-top:20px" value="Zmień hasło" class="btn btn-default"
                    onclick="location.href = '@Url.Action("ChangePassword")'" />
        </dd>
        <dt>Numer telefonu:</dt>
        <dd>
            <input type="button" style="width:200px; margin-top:20px" value="Zmien numer telefonu" class="btn btn-default"
                    onclick="location.href = '@Url.Action("AddPhoneNumber")'" />
        </dd>
        
        <dt>Adres Email:</dt>
        <dd>
            <input type="button" style="width:200px; margin-top:20px" value="Zmien adres email" class="btn btn-default"
                   onclick="location.href = '@Url.Action("CahngeEmail")'" />
        </dd>
    </dl>
</div>
