@model Ogloszenia_Lokalne_2.Models.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Details";
}
<style type="text/css">

    #blok0 {
        background-color: #dcdcdc;
        width: 100%;
        padding: 30px;
        padding-bottom: 20px;
    }
</style>

<div id="blok0">

    <h2>@Html.DisplayNameFor(model => model.Category.AdsCategories) "@Html.DisplayFor(model => model.Category.Name)" </h2>
    <h4>@Html.DisplayNameFor(model => model.Category.CategoryParentID): @Html.DisplayFor(model => model.Category.CategoryParent.Name) </h4>
    <hr />
    <div>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.ExampleAd.AdID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.ExampleAd.Owner.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.ExampleAd.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.ExampleAd.AddingDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Ads)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.AdID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Owner.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.AddingDate)
                    </td>
                    <td>
                        <input type="button" style="width:90px" value="Pokaż" class="btn btn-success" onclick="location.href='@Url.Action("Details", "Ads", new { id = item.AdID })'" />
                        <input type="button" style="width:90px" value="Edytuj" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Ads", new { id = item.AdID })'" />
                        <input type="button" style="width:90px" value="Zablokuj" class="btn btn-warning" onclick="location.href='@Url.Action("Block", "Ads", new { id = item.AdID })'" />
                        <input type="button" style="width:90px" value="Usuń" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Ads", new { id = item.AdID })'" />
                    </td>
                </tr>
            }

        </table>
    </div>
    <input type="button" style="width:140px" value="Wróć" class="btn btn-default" onclick="location.href ='@Url.Action("Index")'"  />
</div>
